body{
    background: repeating-radial-gradient(ellipse,rgb(156, 66, 66),rgb(216, 10, 216));
}
#wrapper input h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapper{
    border: 3px solid black;
    width: 500px;
    text-align: center;
    height: fit-content;
    background-color: coral;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
}
#wrapper input{
    width: fit-content;
    border: 2px solid black;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    height: 50px;
}
#todolist{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
}
#wrapper button{
    width: 100px;
    height: 30px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
    background-color: deepskyblue;
    text-transform: uppercase;
    box-shadow: 2px 3px 5px red;
    border-radius: 20px;
    
}
h2{
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 2px 3px 5px rgb(165, 37, 165);
}